body{
    font-family: Helvetica;
    margin: auto;
    margin-top: 25vh;
    width: 400px;
    height: 400px;
    background: #F0F2F5;
}


.border-register{
    border: 1px solid lightgray;
}

#email{
    border: 1px solid lightgray;
    margin-top: 10px;
    width: 299px;
    height: 20px;
}


.submit{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

#submit{
    color: white;
    background-color: #36A420;
    font-weight: bold;
    padding: 9px;
    border-color: #36A420;
    border-radius: 5px;
}

#submit:hover{
    cursor: pointer;
    background-color: #297e18;
}

.mensagem{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}