body{
    font-family: Helvetica;
    background: #F0F2F5;

}

.container{
    display: flex;
    flex-direction: column;

    
}

#blocoesquerda{
    font-size: 55px;
    font-weight: bold;
    font-family: Helvetica;
    color: #1877F2;
}

.texto{
    font-size: 25px;
    color: black;
}

#blocodireita{
    background: white;
    
}

#user{
    color: #737373;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

#pass{
    color: #737373;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}


#btnsignin{
    background: #1877F2;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border-color: #1877F2;
    margin: 5px;
    font-size: 15px;
}

#forgot{
    color: #1877F2;
    font-family: normal;
    font-size: 16px;
    text-align: center;
}
#forgot:hover{
    /*underline the text*/
}

#btnsignup{
    background: #36A420;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border-color: #36A420;
    margin: 5px;
    font-size: 15px;
}

footer{
    color: #737373;
    font-size: 12px;
}